#celo{
    width: 1000px;
    margin: auto;
}
#lev{
    float: left;
    width: 45%;
}
#desen{
    float: right;
    width: 45%;
}
.border{
    border: 1px solid black;
    margin-bottom: 10px;
}
@media screen and (min-width:320px) and (max-width:900px){
  #lev{
     width:100%;
     float: none;
 }
 #desen{
     width: 100%;
     float: none;
 }

}