.container1{
    padding: 50px 70px;
}
#red1{
    text-align: right;
    color: gray;
}
.map-container{
    overflow:hidden;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    }
    .kocka{
        
        margin-right:0px;
        padding-right:0px;
        text-align: center;
    }
    .border{
        border: 2px solid grey;
     
    }
    .slika{
        height: 50px;
        width: 50px;
        text-align: center;
    }
    .red{
        text-align:center;
    }
    #naslov{
        margin-left: 100px;
        border-bottom: 2px solid orange;
        position: absolute;
    }
    #kopce{
        
        border: 2px solid orange;
    }
    #kopce:hover{
        background-color: orange;
        border: 2px solid orange;
    }



    * {
        box-sizing: border-box;
      }
      
      /* Style inputs */
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 3px;
        margin-bottom: 5px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Style the container/contact section */
      .container2 {
        border-radius: 5px;
       
        padding: 5px;
      }
      
      /* Create two columns that float next to eachother */
      .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 10px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }