#d1{
    background-color: aqua;
    
}
#d2{
    background-color: blueviolet;
    
}
#d3{
    background-color: coral;
   
}
#d4{
    background-color: crimson;
    
}
img{
    width:500px;
}
.spoi{
    float: left;
    width:25%;
}

@media screen and (max-width:900px){
    .spoi{
        width:50%;
    }
    img{
        width:250px;
    }
}
@media screen and (max-width:500px){
    .spoi{
        width: 100%;
        margin-bottom:10px;
    }
        img{
            display: none;
           
        }
    
}
