#navbar{
    float: left;
}
#slika{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.logo{
    height: 20px;
    width: 20px;
}
.pozicija{
    text-align: center;
}
.float{
    float: left;
}