#div1{
    background-color:white;
    width: 20vw;
    height: 120vh;
    border: 1px black;
   
    position: relative;
}
#menu-item-6{
    background-color: teal;
}
#menu-item-7{
    background-color:yellowgreen;
}
#menu-item-8{
    background-color:pink;
}
#menu-item-9{
    background-color:orange;
}
#menu-item-10{
    background-color:blueviolet;
}
#divslika{
    width: 100px;
    height: 200px;
}
#slika{
   padding-left: 30px;
    float: left;
    width: 20vx;
    height: 223px;
}
#ime{
    padding: 20px;
    text-align: center;
}
.del{
    padding: 20px;
    text-align: center;
}

.hoverce:hover{
    background-color:grey;
    cursor: pointer;
}

.logo{
    
    float: left;
    width:30px;
    height: 30px;
    padding-left: 30px;
}
.activen-element{
    border-right: 2px solid red;
    border-color:red;
    border-right-color: red;
}
.menu-item{
    box-sizing: border-box;
    float: left;
    width: 100%;
    
}
.golemaslika{
    text-align: center;
    position: relative;
}

#2div{
    float: left;
}
.pozicija{
  
#div3{
    position: relative;
    
    

}

#div4{
    float: left;
}