.background1{
    background-color: gray;
}
#submitBtn{
    background-color: green;
    height: 40px;
    margin-top: 30px;
}
.container-fluid{
    margin-top: 0px;
}
.margin{
    margin-top:60px;
}
.form-row{
    margin-right: 5px;
}
.whitecolor{
    color: white;
}
.widthform{
    width: 150px;
}
.marginleft{
    margin-left: 20px;
}
.centeralign{
    text-align: center;
}