.navbarcolor{
    background-color: black;
}
.search{
    border-radius: 80px;
}
.searchcolor{
    background-color: black;
}
#logo{
    height: 45px;
}
#pozicija{
    
     position: fixed;
     
      height: 100%;
       width: 100%;
}
#naslov{
    margin-left: 20%;
    margin-top: 50px;
    color:white;
}
.log{
    margin-right: 25px;
}

body{
    font-family: 'Trade Winds', cursive;
font-family: 'Lobster', cursive;
font-family: 'Caveat', cursive;
background-color: #091d25;
background-image: linear-gradient(19deg, #091d25 90%, #0d0212 100%);





  
}
#paragraf1{
    color: white;
    margin-left: 25%;
}
#paragraf2{
  color: black;
    margin-left: 30%;
}
#zvezda{
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-right: 5px;
}
#paragraf3{
    color: white;
    margin-left: 40%;
}








.movie-card{
    background-image: url("film1.jpg");
    height: 340px;
    width: 240px;
    background-size: cover;
    overflow: hidden !important;
    position: relative;
    z-index: 2;
     margin-bottom: 20px;
   
}
.card-content{
     height: 340px;
    width: 240px;
    background-color:  rgb(64, 64, 64, 0.7);
    color: white;
    text-align: center;
    border: 5px solid;
    font-size: 25px;
    z-index: 1;
    border-color: white;
    margin-bottom: 20px;
    display: none;
}
.star-card{
    font-size: 23px ;
    color: yellow ;
    padding: 19px;s
    margin-top: 32px;
    text-align: center;
    
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;

.genre{
    font-size: 1.8rem;
    font-weight: bold;
}    




