#divleft{
    padding-left: 100px;
}
#slika{
    height: 340px;
    width: 240px;
    margin-top:100px;
     border: 5px solid white;
     border-radius: 5px;
}
.slika2{
    height: 150px;
    width: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
     border: 5px solid white;
     border-radius: 5px;
  
}
.slika4{
           height: 150px;
        width: 100px;
        margin-right: 30px;
        margin-bottom: 15px;
         border: 5px solid white;
         border-radius: 5px;
}
.slika2:hover{
    border: 5px solid darkgreen;
}
.slika4:hover{
    border: 5px solid darkgreen;
}
#download1{
    background-color: darkgreen;
    height: 30px;
    width: 240px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
   
}
#download1:hover{
    cursor: pointer;
}

#logoa{
    margin-left: 70px;
    margin-top: 10px;
}
.logo{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
#naslov{
    color: white;
    margin-top: 100px;
    width: 100%;
    margin-left: -5px;
   
}
.naslov2{
    color: white;
    margin-bottom: 2px;
   
}

#naslov3{
    color: white;
    margin-top: 100px;
    margin-left: 45px;
    
}
#span{
    color: white;
}
.span1{
    background-color: gray;
    opacity: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 4px;
}
.span1:hover{
    cursor: pointer;
    
    opacity: 100%;
}
.logo2{
    width: 20px;
    height: 20px;
    margin-right: 70px;
    display: inline;
}
#zvezda{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.color{
    color:white;
    margin-bottom: 10px;
}
#message{
    border: 1px solid green;
    background-color: black;
    border-radius: 5px;
}
#message1{
    color: white;
}
#message2{
  color: yellow;
}
.message3{
    background-color: red;
}
#download5{
    background-color: darkgreen;
    height: 30px;
    width: 240px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 70px;
}
#download5:hover{
    cursor: pointer;
}
#messagepadding{
    padding: 10px;
}
#videodiv{
    margin-top: 50px;
}
.videoscene{
    width: 405px;
    height: 150px;
    margin-left: 50px;
}
.file-size{
    color: white;
}

#video1{
        display:block;
        
      }
#video1.scale2{
        -moz-transform:scale(1.5);
        -webkit-transform:scale(1.5);
        -o-transform:scale(1.5);
        -ms-transform:scale(1.5);
        transform:scale(1.5);
      }

.sredina{
    text-align: center;
}

.borderright{
    border-right: 1px solid black;
}