#p1::before{
 content:url(slika.jpeg)
}
#p1::first-letter{
    color:red;
    font-size: 40px;
    font-weight: bold;
}
#p2::first-line{
    color:blue;
    font-size:30px;
}
#p2::after{
    content:"!!!!!!!!!";
}
ul li::marker{
    color:red;
}
ol li::marker{
 font-size: 30px;
color: hotpink;
background-color: ivory;
}
#i1::placeholder{
    color:red;
    font-size:18px;
}
#p2::selection{
color:white;
background-color: yellowgreen;
}
#p3::first-letter{
    font-size: 40px;
    color:grey;
}