body{
    background-color: aquamarine;
}
#div1{
    background-color: tomato ;
    height:80px;
    width:80px;
    transition: background-color 0.4s linear 1s;
}
#div1:hover{
    background-color: darkorange;
}