#red{
    text-align: right;
    color: gray;
}
#navdiv{
    margin-left: 55%;
}
.hover:hover{
    border: 1px solid gray;
}
.slika{
    height: 200px;
    width: 380px;
    padding: 10px;
    cursor: pointer;
}
