
#div1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightcoral;
    margin-top: 20px;
}

h1, #div1 {
    position: relative;
    left: 0px;
    /* Animations start */

    animation-name: circle;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    /* Animations end */
}

#div1:hover {
    animation-play-state: paused;
}
#div2 {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    background-color: lightseagreen;
    animation-name: square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#div3 {
    width: 300px;
    height: 200px;
    margin: 40px;
    float: left;
   background-color: magenta;
    animation-name: square1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#div4 {
    width: 300px;
    height: 200px;
    margin-left: 200px;
    float: left;
   background-color: orangered;
    animation-name: square2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#div5{
    width: 0px;
    height: 40px;
    background-color: plum;
    animation-name: square3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle {
    0%{
        left: 0px;
        top: 0px;
    }
    20% {
        left: 100px;
        top: 50px;
    }
    40% {
        left: 200px;
        top: 100px;
        transform: rotateZ(60deg) skew(60deg);
    }
    60% {
        left: 300px;
        top: 150px;
        transform: translateX(20px) skew(60deg);
    }
    80%{
        left: 400px;
        top: 75px;
    }
    100% {
        left: 500px;
        top: 0px
    }
}

@keyframes square{ 
    100% {
        transform: rotate(360deg);
    }
}
@keyframes square1 { 
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}
@keyframes square2 { 
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes square3 { 
    100% {
        width: 100%;
    }
}