/* HEADER START */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,freesans,sans-serif;
}

a {
    text-decoration: none;
}

.header-font-color,
.menu-items,
#search-input::placeholder{
    color: #3f3c38;
}

#logo {
    width: 82px;
}

.fl {
    float: left;
}

.br {
    border-right: 1px solid #cccccc;
}

#logo-div {
    padding: 8px 20px 8px 50px;
    width: 82px;
}

#user-img {
    width: 21px;
    position: relative;
    top: 4px;
    right: 3px;
}
#signin {
    display: inline-block;
    padding: 5px 85px 16px 20px;
    font-size: 13px;
    font-weight: bold;
}
#signin:hover {
    border-bottom: 4px solid #1188bb;
    padding: 5px 85px 12px 20px;
}

#menu-ul {
    margin:0;
}
#menu-ul li {
    list-style: none;
}
.menu-items{
    padding: 15px 20px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}
.menu-items:hover {
    border-bottom-width: 4px; 
    border-bottom-style: solid;
    padding: 15px 20px 11px 20px;
}
#menu-item2 a {
    border-bottom-color: #bb1919;
}
#menu-item3 a {
    border-bottom-color: #ffd230;
}
#menu-item4 a {
    border-bottom-color: #0068ff;
}
#menu-item5 a {
    border-bottom-color: #0052a1;
}
#menu-item6 a {
    border-bottom-color: #589e50;
}
#menu-item7 a {
    border-bottom-color: #002856;
}
#menu-item8 a {
    border-bottom-color: #482878;
}
#menu-item9 a {
    border-bottom-color: #262626;
}

#arrow-down {
    width: 6px;
    margin-left: 60px;
    position: relative;
    bottom: 2px;
}

#search-input::placeholder {
    font-weight: bold;
}
#search-input {
    padding: 5px 0px 5px 10px;
    background-color: gainsboro;
    border: 0px;
    margin-top: 8px;
    margin-left: 20px;
}
/* HEADER END */