#div1 {
    background-color: chartreuse;
    height: 60px;
    width: 100px;
    /* margin: 250px auto; */
    transition: font-size, transform 1s, 5s ease-in 1s;
    position: fixed;
    font-size: 40px;
    color: black;
    /* Придвижување */
    transform: translate(80px, 200px);
}
#div2 {
    background-color: red;
    height: 100px;
    width: 75px;
    transition: margin, transform 4s linear;

    /* Закривување */
    transform: skew(50deg);
}
#div3 {
    background-color: blue;
    height: 100px;
    width: 75px;
    transition: all 2s linear;

    /* Скалирање */
    transform: scale(2, 1.5);
}
#div4 {
    background-color: darkturquoise;
    height: 130px;
    width: 220px;
    font-size: 40px;
    color: black;
    /* Редослед: "properties за кои важи" "Времетраење" "Брзина" "Одложување на почетокот"*/
    transition: all 2s ease-in-out 500ms;

    /* Ротација */
    transform: rotate(70deg);
}