#parent{
    height: 800px;
    width: 90%;
    border: 3px dashed brown;
}
#d1{
    background-color: green;
    height: 300px;
    width: 90%;
}
#d2{
    background-color: yellow;
    height: 200px;
    width: 70%;
}