body {
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Courgette', cursive;
    font-family: 'Kalam', cursive;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    

    
  
   }
   #pozicija{
    
    margin-top: -30px;
     
        
     
}
   #side-navigation {
     min-height: 100vh;
     max-width: 250px;
   }
  
  #profilepic {
    width: 100%;
    height: 100%;
  }
  
  #logo{
    height: 100px;
    width: 100px;
  }
  #content-1{
    display: inline;
    }
  #mypicture{
    float: left;
    margin-left: 15px;
    margin-top: 40px;
    width: 600px;
    height: 90%;
  }
  #button{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  }
  #kopce{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    border-radius: 10px;
  }
  #location{
    height: 30px;
    width: 30px;
  }
  .slika2{
    height: 300px;
    width: 350px;
    margin-bottom: 30px;
  }
  
  
  
  
  
  #mytext{
    float: right;
  }
  
  
  .menu-item  {
    border-bottom: 1px solid #ececec;
    text-align: center;
    padding: 12px;
    color: #6c7a89;
    box-sizing: border-box;
    float: left;
    width: 10px;
    
  }
  .menu-item:hover {
    cursor: pointer;
    background-color: #f6f6f6;  
    border-right: 2px solid gray !important;
    padding-right: 10px;
  }
  .menu-item.active {
    border-right: 2px solid red !important;
    padding-right: 10px;
  }
  .main-content {
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
    text-align: center;
    min-height: 100vh;
    display: none;
  }
  
  .navigation::after{
    content: "";
    clear: both;
    display: table;
  }
  
  #social-media {
    margin-top: 20px !important;
    text-align: center;
  }
  #social-media i {
    font-size: 28px;
  }
  #social-media i:hover {
    cursor: pointer;
  }
  #social-media .fa-linkedin:hover {
    color: #0077B5;
  }
  #social-media .fa-facebook-square:hover {
    color: #3b5998;
  }
  #social-media .fa-github-square:hover {
    color: #211F1F;
  }
  
  a {
    color: black !important;
  }
  
  a:hover {
    text-decoration: none !important;
  }
  
  .aktiven-element {
    border-right: 2px solid red;
  }
  
  
  
  
  
  
  
  .container1{
    padding: 50px 70px;
  }
  .red1{
    text-align: right;
    color: gray;
  }
  .map-container{
    overflow:hidden;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    }
    .kocka{
        
        margin-right:0px;
        padding-right:0px;
        text-align: center;
    }
    .border{
        border: 2px solid grey;
     
    }
    .slika{
        height: 50px;
        width: 50px;
        text-align: center;
    }
    .red{
        text-align:center;
    }
    #naslov{
        margin-left: 100px;
        border-bottom: 2px solid orange;
        position: absolute;
    }
    #kopce{
        
        border: 2px solid orange;
    }
    #kopce:hover{
        background-color: orange;
        border: 2px solid orange;
    }
  .grad{
    width: 400px;
    height: 200px;
  }
  
  
    * {
        box-sizing: border-box;
      }
      
      /* Style inputs */
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 3px;
        margin-bottom: 5px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Style the container/contact section */
      .container2 {
        border-radius: 5px;
       
        padding: 5px;
      }
      
      /* Create two columns that float next to eachother */
      .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 10px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
  
  
  
  
  
      #navbar{
        float: left;
    }
    #slika{
        width: 200px;
        height: 200px;
        margin: 20px auto;
    }
    .logo{
        height: 20px;
        width: 20px;
    }
    .pozicija{
        text-align: center;
    }
    .float{
        float: left;
    }
  
  
  
  
  
  
  
  
    body {
      font-family: 'Roboto', sans-serif !important;
    
     }
     #side-navigation {
       min-height: 100vh;
       max-width: 250px;
     }
    
    #person-image {
        max-width: 100px;
    }
    #image-wrapper {
        text-align: center;
        padding: 40px;
        padding-bottom: 10px;
    }
    
    #image-wrapper p {
      font-size: 25px;
      font-weight: 500;
    }
    .logo{
      height: 20px;
      width: 20px;
    }
    #mytext{
      float: right;
    }
    .margina{
      margin-left: 100px;
    }
    .menu-item  {
      border-bottom: 1px solid #ececec;
      text-align: center;
      padding: 12px;
      color: #6c7a89;
      box-sizing: border-box;
      float: left;
      width: 100%;
    }
    .menu-item:hover {
      cursor: pointer;
      background-color: #f6f6f6;  
      border-right: 2px solid gray !important;
      padding-right: 10px;
    }
    .menu-item.active {
      border-right: 2px solid red !important;
      padding-right: 10px;
    }
    .main-content {
      background-color: whitesmoke;
      text-align: center;
      min-height: 100vh;
      display: none;
    }
    
    .navigation::after{
      content: "";
      clear: both;
      display: table;
    }
    
    #social-media {
      margin-top: 20px !important;
      text-align: center;
    }
    #social-media i {
      font-size: 28px;
    }
    #social-media i:hover {
      cursor: pointer;
    }
    #social-media .fa-linkedin:hover {
      color: #0077B5;
    }
    #social-media .fa-facebook-square:hover {
      color: #3b5998;
    }
    #social-media .fa-github-square:hover {
      color: #211F1F;
    }
    
    a {
      color: black !important;
    }
    
    a:hover {
      text-decoration: none !important;
    }
    
    .aktiven-element {
      border-right: 2px solid red;
    }
    
    
    
    
    
    
    
    .container1{
      padding: 50px 70px;
    }
    .red1{
      text-align: right;
      color: gray;
    }
    .map-container{
      overflow:hidden;
      position:relative;
      height:0;
      }
      .map-container iframe{
      left:0;
      top:0;
      height:80%;
      width:100%;
      position:absolute;
      }
      .kocka{
          
          margin-right:0px;
          padding-right:0px;
          text-align: center;
      }
      .border{
          border: 2px solid grey;
       
      }
      .slika{
          height: 50px;
          width: 50px;
          text-align: center;
      }
      .red{
          text-align:center;
      }
      #naslov{
          margin-left: 100px;
          border-bottom: 2px solid orange;
          position: absolute;
      }
      #kopce{
          
          border: 2px solid orange;
      }
      #kopce:hover{
          background-color: orange;
          border: 2px solid orange;
      }
    .grad{
      width: 400px;
      height: 200px;
    }
    
    
      * {
          box-sizing: border-box;
        }
        
        /* Style inputs */
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          margin-top: 3px;
          margin-bottom: 5px;
          resize: vertical;
        }
        
        input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 12px 20px;
          border: none;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        /* Style the container/contact section */
        .container2 {
          border-radius: 5px;
         
          padding: 5px;
        }
        
        /* Create two columns that float next to eachother */
        .column {
          float: left;
          width: 50%;
          margin-top: 6px;
          padding: 10px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .column, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }
    
    
    
    
    
        #navbar{
          float: left;
      }
      #slika{
          width: 200px;
          height: 200px;
          margin: 20px auto;
      }
      .logo{
          height: 20px;
          width: 20px;
      }
      .pozicija{
          text-align: center;
      }
      .float{
          float: left;
      }
  
  
  
  
  
  
  
  
  
  
  
      body {
        font-family: 'Roboto', sans-serif !important;
      
       }
       #side-navigation {
         min-height: 100vh;
         max-width: 250px;
       }
      
      #person-image {
          max-width: 100px;
      }
      #image-wrapper {
          text-align: center;
          padding: 40px;
          padding-bottom: 10px;
      }
      
      #image-wrapper p {
        font-size: 25px;
        font-weight: 500;
      }
      .logo{
        height: 20px;
        width: 20px;
      }
      #mytext{
        float: right;
      }
      .margina{
        margin-left: 100px;
      }
      .menu-item  {
        border-bottom: 1px solid #ececec;
        text-align: center;
        padding: 12px;
        color: #6c7a89;
        box-sizing: border-box;
        float: left;
        width: 100%;
      }
      .menu-item:hover {
        cursor: pointer;
        background-color: #f6f6f6;  
        border-right: 2px solid gray !important;
        padding-right: 10px;
      }
      .menu-item.active {
        border-right: 2px solid red !important;
        padding-right: 10px;
      }
      .main-content {
        background-color: whitesmoke;
        text-align: center;
        min-height: 100vh;
        display: none;
      }
      
      .navigation::after{
        content: "";
        clear: both;
        display: table;
      }
      
      #social-media {
        margin-top: 20px !important;
        text-align: center;
      }
      #social-media i {
        font-size: 28px;
      }
      #social-media i:hover {
        cursor: pointer;
      }
      #social-media .fa-linkedin:hover {
        color: #0077B5;
      }
      #social-media .fa-facebook-square:hover {
        color: #3b5998;
      }
      #social-media .fa-github-square:hover {
        color: #211F1F;
      }
      
      a {
        color: black !important;
      }
      
      a:hover {
        text-decoration: none !important;
      }
      
      .aktiven-element {
        border-right: 2px solid red;
      }
      
      
      
      
      
      
      
      .container1{
        padding: 50px 70px;
      }
      .red1{
        text-align: right;
        color: gray;
      }
      .map-container{
        overflow:hidden;
        position:relative;
        height:0;
        }
        .map-container iframe{
        left:0;
        top:0;
        height:80%;
        width:100%;
        position:absolute;
        }
        .kocka{
            
            margin-right:0px;
            padding-right:0px;
            text-align: center;
        }
        .border{
            border: 2px solid grey;
         
        }
        .slika{
            height: 50px;
            width: 50px;
            text-align: center;
        }
        .red{
            text-align:center;
        }
        #naslov{
            margin-left: 100px;
            border-bottom: 2px solid orange;
            position: absolute;
        }
        #kopce{
            
            border: 2px solid orange;
        }
        #kopce:hover{
            background-color: orange;
            border: 2px solid orange;
        }
      .grad{
        width: 400px;
        height: 200px;
      }
      
      
        * {
            box-sizing: border-box;
          }
          
          /* Style inputs */
          input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 3px;
            margin-bottom: 5px;
            resize: vertical;
          }
          
          input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
          }
          
          input[type=submit]:hover {
            background-color: #45a049;
          }
          
          /* Style the container/contact section */
          .container2 {
            border-radius: 5px;
           
            padding: 5px;
          }
          
          /* Create two columns that float next to eachother */
          .column {
            float: left;
            width: 50%;
            margin-top: 6px;
            padding: 10px;
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
          @media screen and (max-width: 600px) {
            .column, input[type=submit] {
              width: 100%;
              margin-top: 0;
            }
          }
      
      
      
      
      
          #navbar{
            float: left;
        }
        #slika{
            width: 200px;
            height: 200px;
            margin: 20px auto;
        }
        .logo{
            height: 20px;
            width: 20px;
        }
        .pozicija{
            text-align: center;
        }
        .float{
            float: left;
        }
      
      
      
      
      
      
      
      
        body {
          font-family: 'Roboto', sans-serif !important;
        
         }
         #side-navigation {
           min-height: 100vh;
           max-width: 250px;
         }
        
        #person-image {
            max-width: 100px;
        }
        #image-wrapper {
            text-align: center;
            padding: 40px;
            padding-bottom: 10px;
        }
        
        #image-wrapper p {
          font-size: 25px;
          font-weight: 500;
        }
        .logo{
          height: 20px;
          width: 20px;
        }
        #mytext{
          float: right;
        }
        .margina{
          margin-left: 100px;
        }
        .menu-item  {
          border-bottom: 1px solid #ececec;
          text-align: center;
          padding: 12px;
          color: #6c7a89;
          box-sizing: border-box;
          float: left;
          width: 100%;
        }
        .menu-item:hover {
          cursor: pointer;
          background-color: #f6f6f6;  
          border-right: 2px solid gray !important;
          padding-right: 10px;
        }
        .menu-item.active {
          border-right: 2px solid red !important;
          padding-right: 10px;
        }
        .main-content {
          background-color: whitesmoke;
          text-align: center;
          min-height: 100vh;
          display: none;
        }
        
        .navigation::after{
          content: "";
          clear: both;
          display: table;
        }
        
        #social-media {
          margin-top: 20px !important;
          text-align: center;
        }
        #social-media i {
          font-size: 28px;
        }
        #social-media i:hover {
          cursor: pointer;
        }
        #social-media .fa-linkedin:hover {
          color: #0077B5;
        }
        #social-media .fa-facebook-square:hover {
          color: #3b5998;
        }
        #social-media .fa-github-square:hover {
          color: #211F1F;
        }
        
        a {
          color: black !important;
        }
        
        a:hover {
          text-decoration: none !important;
        }
        
        .aktiven-element {
          border-right: 2px solid red;
        }
        
        
        
        
        
        
        
        .container1{
          padding: 50px 70px;
        }
        .red1{
          text-align: right;
          color: gray;
        }
        .map-container{
          overflow:hidden;
          position:relative;
          height:0;
          }
          .map-container iframe{
          left:0;
          top:0;
          height:80%;
          width:100%;
          position:absolute;
          }
          .kocka{
              
              margin-right:0px;
              padding-right:0px;
              text-align: center;
          }
          .border{
              border: 2px solid grey;
           
          }
          .slika{
              height: 50px;
              width: 50px;
              text-align: center;
          }
          .red{
              text-align:center;
          }
          #naslov{
              margin-left: 100px;
              border-bottom: 2px solid orange;
              position: absolute;
          }
          #kopce{
              
              border: 2px solid orange;
          }
          #kopce:hover{
              background-color: orange;
              border: 2px solid orange;
          }
        .grad{
          width: 400px;
          height: 200px;
        }
        
        
          * {
              box-sizing: border-box;
            }
            
            /* Style inputs */
            input[type=text], select, textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              margin-top: 3px;
              margin-bottom: 5px;
              resize: vertical;
            }
            
            input[type=submit] {
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              border: none;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: #45a049;
            }
            
            /* Style the container/contact section */
            .container2 {
              border-radius: 5px;
             
              padding: 5px;
            }
            
            /* Create two columns that float next to eachother */
            .column {
              float: left;
              width: 50%;
              margin-top: 6px;
              padding: 10px;
            }
            
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            
            /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
            @media screen and (max-width: 600px) {
              .column, input[type=submit] {
                width: 100%;
                margin-top: 0;
              }
            }
        
        
        
        
        
            #navbar{
              float: left;
          }
          #slika{
              width: 200px;
              height: 200px;
              margin: 20px auto;
          }
          .logo{
              height: 20px;
              width: 20px;
          }
          .pozicija{
              text-align: center;
          }
          .float{
              float: left;
          }
  
  
  
  
  
          .container1{
            padding: 50px 70px;
        }
        #red1{
            text-align: right;
            color: gray;
        }
        .map-container{
            overflow:hidden;
            position:relative;
            height:0;
            }
            .map-container iframe{
            left:0;
            top:0;
            height:80%;
            width:100%;
            position:absolute;
            }
            .kocka{
                
                margin-right:0px;
                padding-right:0px;
                text-align: center;
            }
            .border{
                border: 2px solid grey;
             
            }
            .slika{
                height: 50px;
                width: 50px;
                text-align: center;
            }
            .red{
                text-align:center;
            }
            #naslov{
                margin-left: 100px;
                border-bottom: 2px solid orange;
                position: absolute;
            }
            #kopce{
                
                border: 2px solid orange;
            }
            #kopce:hover{
                background-color: orange;
                border: 2px solid orange;
            }
        
        
        
            * {
                box-sizing: border-box;
              }
              
              /* Style inputs */
              input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                margin-top: 3px;
                margin-bottom: 5px;
                resize: vertical;
              }
              
              input[type=submit] {
                background-color: #4CAF50;
                color: white;
                padding: 12px 20px;
                border: none;
                cursor: pointer;
              }
              
              input[type=submit]:hover {
                background-color: #45a049;
              }
              
              /* Style the container/contact section */
              .container2 {
                border-radius: 5px;
               
                padding: 5px;
              }
              
              /* Create two columns that float next to eachother */
              .column {
                float: left;
                width: 50%;
                margin-top: 6px;
                padding: 10px;
              }
              
              /* Clear floats after the columns */
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
              
              /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
              @media screen and (max-width: 600px) {
                .column, input[type=submit] {
                  width: 100%;
                  margin-top: 0;
                }
              }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
              body {
                font-family: 'Roboto', sans-serif !important;
              
               }
               #side-navigation {
                 min-height: 100vh;
                 max-width: 220px;
               }
              
              #person-image {
                  max-width: 100px;
              }
              #image-wrapper {
                  text-align: center;
                  padding: 40px;
                  padding-bottom: 10px;
              }
              
              #image-wrapper p {
                font-size: 25px;
                font-weight: 500;
              }
              .logo{
                height: 20px;
                width: 20px;
              }
              .margina{
                margin-left: 70px;
              }
              .menu-item  {
                border-bottom: 1px solid #ececec;
                text-align: center;
                padding: 12px;
                color: #6c7a89;
                box-sizing: border-box;
                float: left;
                width: 100%;
              }
              .menu-item:hover {
                cursor: pointer;
                background-color: #f6f6f6;  
                border-right: 2px solid gray !important;
                padding-right: 10px;
              }
              .menu-item.active {
                border-right: 2px solid red !important;
                padding-right: 10px;
              }
              .main-content {
                background-color: white;
                text-align: center;
                min-height: 100vh;
                display: none;
              }
              
              .navigation::after{
                content: "";
                clear: both;
                display: table;
              }
              
              #social-media {
                margin-top: 20px !important;
                text-align: center;
              }
              #social-media i {
                font-size: 28px;
              }
              #social-media i:hover {
                cursor: pointer;
              }
              #social-media .fa-linkedin:hover {
                color: #0077B5;
              }
              #social-media .fa-facebook-square:hover {
                color: #3b5998;
              }
              #social-media .fa-github-square:hover {
                color: #211F1F;
              }
              
              a {
                color: black !important;
              }
              
              a:hover {
                text-decoration: none !important;
              }
              
              .aktiven-element {
                border-right: 2px solid red;
              }
              .mypic{
               
                float: left;
                height: 70%;
                width: 49%;
              }
              #mytext{
                
                padding-top: 200px;
                
              }
              
              
              h3{
                text-align: inherit;
                font-style: normal;
                font-size: 25px;
                font-weight: 600;
              }
              #button{
                display: inline-block;
                position: relative;
                padding: .8em 2em;
                margin-bottom: .25em;
                font-size: 1em;
                line-height: 1.2;
                border: 0;
                outline: 0;
                border: 2px solid #ff714a;
                color: #222;
                text-shadow: none;
                background-color: #fff;
                border-radius: 0;
                
              }
              h1,h2 {
                font-weight: 200;
                margin: 0.4em 0;
              }
              h1 { font-size: 1em; }
              h2 {
                color: #888;
                font-size: 2em;
              }
              
              p8{
                background-color: lawngreen;
                border: 1px solid black;
                float: left;
               
              }
              p3{
                float: left;
                margin-top: 40px;
                font-size: 30px;
                padding-left: 20px;
              }
              
              ul.timeline {
                list-style-type: none;
                position: relative;
              }
              ul.timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 29px;
                width: 2px;
                height: 100%;
                z-index: 400;
              }
              ul.timeline > li {
                margin: 20px 0;
                padding-left: 20px;
              }
              ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
              }
              
              #godini2{
                text-align: right;
                color:grey;
              }
              #procenti1{
                  text-align: right;
              }
              #kopce{
                  margin-left: 100px;
              }
              #experience{
                  float: right;
              }
              .podvleceno{
                  border-bottom: 2px solid blue;
                  display: inline-block;
              }
              
              
              
              
              
              ul.timeline {
                  list-style-type: none;
                  position: relative;
              }
              ul.timeline:before {
                  content: ' ';
                  background: #d4d9df;
                  display: inline-block;
                  position: absolute;
                  left: 29px;
                  width: 2px;
                  height: 100%;
                  z-index: 400;
              }
              ul.timeline > li {
                  margin: 20px 0;
                  padding-left: 20px;
              }
              ul.timeline > li:before {
                  content: ' ';
                  background: white;
                  display: inline-block;
                  position: absolute;
                  border-radius: 50%;
                  border: 3px solid #22c0e8;
                  left: 20px;
                  width: 20px;
                  height: 20px;
                  z-index: 400;
              }
              body {
                  margin: 30px 0px;
              }
              .progress {
                  position: relative;
                  height: 25px;
              }
              .progress > .progress-type {
                  position: absolute;
                  left: 0px;
                  font-weight: 800;
                  padding: 3px 30px 2px 10px;
                  color: rgb(255, 255, 255);
                  background-color: rgba(25, 25, 25, 0.2);
              }
              .progress > .progress-completed {
                  position: absolute;
                  right: 0px;
                  font-weight: 800;
                  padding: 3px 10px 2px;
              }
              
              
              red{
                text-align: right;
                color: grey;
               }
               .grad{
                   cursor: pointer;
                   max-width: 600px;
                   max-height: 400px;
                   padding: 30px;
                   float: left;
               }
               
               * {
                   -moz-box-sizing: border-box;
                   -webkit-box-sizing: border-box;
                   box-sizing: border-box;
                   margin: 0;
                   padding: 0;
               }
               
               .image-box {
                   position: relative;
                   margin: auto;
                   overflow: hidden;
                   width: 540px;
               }
               .image-box img {
                   max-width: 100%;
                   transition: all 2.0s;
                   display: block;
                   width: 100%;
                   height: auto;
                   transform: scale(1);
               }
               
               .image-box:hover img {
                   transform: scale(1.9);
               }
               
               .container1{
                padding: 50px 70px;
              }
              #red1{
                text-align: right;
                color: gray;
              }
              .map-container{
                overflow:hidden;
                position:relative;
                height:0;
                }
                .map-container iframe{
                left:0;
                top:0;
                height:80%;
                width:100%;
                position:absolute;
                }
                .kocka{
                    
                    margin-right:0px;
                    padding-right:0px;
                    text-align: center;
                }
                .border{
                    border: 2px solid grey;
                 
                }
                .slika{
                    height: 50px;
                    width: 50px;
                    text-align: center;
                }
                .red{
                    text-align:center;
                }
                #naslov{
                    margin-left: 100px;
                    border-bottom: 2px solid orange;
                    position: absolute;
                }
                #kopce{
                    
                    border: 2px solid orange;
                }
                #kopce:hover{
                    background-color: orange;
                    border: 2px solid orange;
                }
              
              
              
                * {
                    box-sizing: border-box;
                  }
                  
                  /* Style inputs */
                  input[type=text], select, textarea {
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    margin-top: 3px;
                    margin-bottom: 5px;
                    resize: vertical;
                  }
                  
                  input[type=submit] {
                    background-color: #4CAF50;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    cursor: pointer;
                  }
                  
                  input[type=submit]:hover {
                    background-color: #45a049;
                  }
                  
                  /* Style the container/contact section */
                  .container2 {
                    border-radius: 5px;
                   
                    padding: 5px;
                  }
                  
                  /* Create two columns that float next to eachother */
                  .column {
                    float: left;
                    width: 50%;
                    margin-top: 6px;
                    padding: 10px;
                  }
                  
                  /* Clear floats after the columns */
                  .row:after {
                    content: "";
                    display: table;
                    clear: both;
                  }
                  
                  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                  @media screen and (max-width: 600px) {
                    .column, input[type=submit] {
                      width: 100%;
                      margin-top: 0;
                    }
                  }
  
  
  
  
  
  
  
  
  
  
  
                  #red{
                    text-align: right;
                    color: gray;
                }
                #navdiv{
                    margin-left: 45%;
                }
                .hover:hover{
                    border: 1px solid gray;
                }
                .slika1{
                    height: 200px;
                    width: 380px;
                    padding: 10px;
                    cursor: pointer;
                }
                


                form {
                    border: 3px solid #f1f1f1;
                  }
                  
                  /* Full-width inputs */
                  input[type=text], input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                  }
                  
                  /* Set a style for all buttons */
                  button {
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                  }
                  
                  /* Add a hover effect for buttons */
                  button:hover {
                    opacity: 0.8;
                  }
                  
                  /* Extra style for the cancel button (red) */
                  .cancelbtn {
                    width: auto;
                    padding: 10px 18px;
                    background-color: #f44336;
                  }
                  
                  /* Center the avatar image inside this container */
                  .imgcontainer {
                    text-align: center;
                    margin: 24px 0 12px 0;
                  }
                  
                  /* Avatar image */
                  img.avatar {
                    width: 40%;
                    border-radius: 50%;
                  }
                  
                  /* Add padding to containers */
                  .container {
                    padding: 16px;
                  }
                  
                  /* The "Forgot password" text */
                  span.psw {
                    float: right;
                    padding-top: 16px;
                  }
                  
                  /* Change styles for span and cancel button on extra small screens */
                  @media screen and (max-width: 300px) {
                    span.psw {
                      display: block;
                      float: none;
                    }
                    .cancelbtn {
                      width: 100%;
                    }
                  }
                  #avatar{
                      width: 100px;
                      height: 100px;
                  }
                  #subject{
                      margin-top: -23px;
                  }
                  #kopce{
                      margin-left: 390px;
                  }
                  #button{
                      border-radius: 30px;
                  }