html {
    background-color:rgb(218,237,226) ;
}
#divbody {
    display: inline-block;
    position: absolute;
    background-color: rgb(119,196,211);
    width: 90%;
    margin: 5%;
}
#divtitle {
    background-color:rgb(234,46,73);
    margin: 5%;
    width: 350px;
    height: auto;  
    padding: 2%; 
    color: rgb(255, 255, 255);
    font-size: 40px;
}
    #divtitle2 p {
        font-family: fantasy;
        font-size: 130px;
        width: 50%;
        color: rgb(255, 255, 255);
        margin: 5%;
        }
    .css {
        text-decoration: underline;
        text-decoration-style:dotted;
    }
section {
    width: 60%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 2%;
}
#divbar1 {
    position: relative;
    background-color: rgba(255, 255, 255,0.9);
    left: -13%;
    width: 50%;
    padding: 3%;
    padding-left: 10%;
    margin: 5%;
}
#divsection {
    display: inline-block;
    position: relative;
    margin: 5%;
    margin-bottom: 0%;
    width: 33%;
    padding: 2%;
    color: rgb(255, 255, 255);
}
#barred {
    display: inline-block;
    position: relative;
    right: 2%;
    background-color: rgba(223,60,87,0.9);
    width: 38%;
    z-index: 1;
    vertical-align: top;
    margin: 5%;
    margin-bottom: 0%;
    padding: 2%;
    color: rgb(255, 255, 255);
}
#divbar2 {
    display: inline-block;
    position: relative;
    padding: 2%;
    margin: 5%;
    margin-right: 0%;
    margin-top: 10%;
    background-color: rgba(255, 255, 255,0.9);
    width: 20%;
    vertical-align: top;
}
#divbar3 {
    display: inline-block;
    position: relative;
    padding: 2%;
    margin: 0%;
    margin-right: 5%;
    background-color:rgba(255, 255, 255,0.9);
    width: 59%;
    vertical-align: top;
    z-index: 1;
}
#footer {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 40%;
    padding-left: 2%;
    background-color:rgb(234,242,153)
}
#divselect {
    display: block;
    position: absolute;
    right: 0%;
    top: 3%;
    width: 22%;
    background-color: rgba(234,242,153,0.91);
    z-index: 1;
    padding: 5%;
}
        #divselect p {
            color: rgb(173,175,107);
        }
        #divbody p a {
            color: black;
            text-decoration: none;
            text-align: justify;
            text-decoration: underline black
        }
        #divbody p a:hover {
           text-decoration: underline red;
        }
#aside {
    display: block;
    position:fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 30%;
    background-color: rgba(58,68,83,0.91);
}
    .pfont {
        font-size: 20px;
    }
    hr {
        background-color: red;
    }
    h3 {
        font-size: 40px;
    }