.marginbottom{
    margin-bottom: 0px;
    min-width: 80%;
}

#start-btn{
    background-color:#11496b ;
    border-color: #11496b;
    border-radius: 20px;
    min-width: 30%;
    margin-left: 25%;
  
}
#forma{
    margin-top: 10%;
}









.navbarcolor{
    background-color: #11496b;
}
.search{
    border-radius: 80px;
}
.searchcolor{
    background-color: #11496b;
}
#logo{
    height: 65px;
}
#pozicija{
    
     position: fixed;
     
      height: 100%;
       width: 100%;
}
#naslov{
    margin-left: 20%;
    margin-top: 50px;
    color:white;
}
.log{
    margin-right: 25px;
}

body{
    font-family: 'Trade Winds', cursive;
font-family: 'Lobster', cursive;
font-family: 'Caveat', cursive;
background-color: #1d71a3;
background-image: linear-gradient(160deg, #1d71a3 0%, #80D0C7 100%);





  




